#include <windows.h>

// Your application icon
IDI_ICON1 ICON "icon.ico"

// Version Information Metadata
1 VERSIONINFO
FILEVERSION     1,3,0,0
PRODUCTVERSION  1,3,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0x0L
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4" // US English, Windows Multilingual
    BEGIN
      VALUE "CompanyName",      "DarkAddons"
      VALUE "FileDescription",  "Minecraft Voxelizer Tool"
      VALUE "FileVersion",      "1.3.0"
      VALUE "InternalName",     "mc_voxelizer"
      VALUE "OriginalFilename", "mc_voxelizer.exe"
      VALUE "ProductName",      "Minecraft Voxelizer"
      VALUE "ProductVersion",   "1.3.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END